@use "sass:math";
@import './variables.scss';

.print-only {
	display: none;
	visibility: hidden;
}

.text- {
	&success {
		color: $success;
	}
	&bold {
		font-weight: $font-weight-bold;
	}
}

// Bootstrap utility classes:
// p-0: [padding: 0rem]
// ml-0: [margin-left: 0rem]

// pl-1 : [ padding-left: 0.5em ]
// mr-2 : [ margin-right: 1em ]
// pt-3 : [ padding-top: 1.5em ]
// mb-4 : [ margin-bottom: 2em ]

// pl-5 : [ padding-left: 2.5em ]
// mr-6 : [ margin-right: 3em ]

@each $space in $spaces {
	.m-#{$space} {
		margin: #{math.div($space, 2)}rem;
	}

	.p-#{$space} {
		padding: #{math.div($space, 2)}rem;
	}

	@each $side in $sides {
		.m#{str-slice($side, 0, 1)}-#{$space} {
			margin-#{$side}: #{math.div($space, 2)}rem !important;
		}

		.p#{str-slice($side, 0, 1)}-#{$space} {
			padding-#{$side}: #{math.div($space, 2)}rem !important;
		}
	}
}

@each $width in $widthsEm {
	.w-#{$width}rem {
		width: #{$width}em;
	}
}

@each $width in $widthsPercent {
	.w-#{$width} {
		width: percentage(math.div($width, 100));
	}
}

@each $height in $heightsEm {
	.h-#{$height}em {
		height: #{$height}em;
	}
}

.flex-box {
	@include flex-box;
}

.flex-column {
	@include flex-direction(column);
}

.flex-justify-end {
	@include justify-content(flex-end);
}

.flex-justify-space-between {
	@include justify-content(space-between);
}

.flex-justify-space-around {
	@include justify-content(space-around);
}

.flex-justify-center {
	@include justify-content(center);
}

.flex-row {
	@include flex-direction(row);
}

.flex-column-reverse {
	@include flex-direction(column-reverse);
}

.flex-grow-1 {
	@include flex-grow(1);
}

.align-self-center {
	@include align-self(center);
}

.flex-align-center {
	@include align-items(center);
}

.flex-align-end {
	@include align-items(flex-end);
}

.flex-row-column {
	@include breakpoint(xs) {
		@include flex-direction(column);
	}

	@include breakpoint(sm) {
		@include flex-direction(column);
	}

	@include breakpoint($min: md) {
		@include flex-direction(row);

		.max-width-50-large-screens:first-child {
			margin-right: 4em;
		}
	}
}

body .ui-toast .ui-toast-message {
	-webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	margin: 0 0 1em 0;
	padding: 1em;
	.ui-toast-close-icon {
		margin-top: -2em;
		margin-right: -0.7em;
	}
}
body .ui-toast .ui-toast-message.ui-toast-message-info {
	background-color: mat-color($dark-accent, background);
	border: 0 none;
	color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
	color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-success {
	background-color: $dark-primary-color;
	border: 0 none;
	color: $colour-text-on-success;
}

body .ui-toast .ui-toast-message.ui-toast-message-warn {
	background-color: $alert;
	border: 0 none;
	color: $colour-text-on-success;
}

body .ui-toast .ui-toast-message.ui-toast-message-error {
	background-color: $warn;
	border: 0 none;
	color: $colour-text-on-success;
}



.dark-theme {
	.mat-form-field-required-marker,
	.mat-form-field.mat-focused
		.mat-form-field-label
		.mat-form-field-required-marker,
	.mat-form-field.mat-form-field-invalid
		.mat-form-field-label
		.mat-form-field-required-marker {
		color: $dark-warn-color;
	}
	.mat-form-field-prefix .mat-icon {
		color: $light-primary-text !important;
		background-color: $dark-primary-color;
	}
	a:-webkit-any-link {
		color: $light-primary-text;
	}
}

.light-theme {
	.mat-form-field-required-marker,
	.mat-form-field.mat-focused
		.mat-form-field-label
		.mat-form-field-required-marker,
	.mat-form-field.mat-form-field-invalid
		.mat-form-field-label
		.mat-form-field-required-marker {
		color: $light-warn-color;
	}
	mat-form-field.mat-focused {
		.mat-form-field-label {
			color: $dark-primary-text !important;
		}
	}
	.mat-form-field-prefix .mat-icon {
		color: $light-primary-text !important;
		background-color: $light-primary-color;
	}
	a:-webkit-any-link {
		color: $light-primary-text;
	}
}

strong {
	font-weight: $font-weight-bold;
}

.mat-form-field-prefix .mat-icon {
	line-height: 3rem;
	height: 2.8rem;
	width: 2.6rem;
	text-align: center;
	margin-left: -0.5rem;
	margin-right: 0.5rem;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
