<mat-card>
	<form [formGroup]="form">
		<mat-card-title>Sample Address Contact form</mat-card-title>
		<mat-card-content>

			<!-- Name -->
			<div class="flex-box flex-align-center">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Name</mat-label>
					<input type="text" matInput formControlName="name" name="name" />
				</mat-form-field>
			</div>

			<!-- Email -->
			<div class="flex-box flex-align-center">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Name</mat-label>
					<input type="text" matInput formControlName="email" name="email" />
				</mat-form-field>
			</div>

			<!-- Contact Phone -->
			<div class="flex-box flex-align-center">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Phone / Mobile</mat-label>
					<input matInput type="tel" formControlName="mobile" name="street-address" />
				</mat-form-field>
			</div>

			<!-- Contact Address -->
			<div class="flex-box flex-align-center">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Address</mat-label>
					<input type="text" matInput formControlName="address" name="street-address" />
				</mat-form-field>
			</div>

			<!-- State -->
			<mat-form-field appearance="outline" class="half form-control">
				<mat-label>State</mat-label>
				<mat-select required formControlName="state" role="" name="country-name">
					<mat-option [value]="null" role="option">---</mat-option>
					<mat-option role="option" *ngFor="let option of states" [value]="option.value">
						{{option.title}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<!-- Description -->
			<div class="flex-box flex-align-center">
				<mat-form-field appearance="outline" class="w-90 form-control">
					<mat-label>Description</mat-label>
					<textarea matInput formControlName="description"></textarea>
				</mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-footer>
			<div class="flex-box flex-row flex-justify-space-between">
				<button mat-flat-button type="button" (click)="resetForm()" color="accent" title="Clear and reset sample form.">Reset
					Form</button>
				<app-save-button (save)="submitForm()"></app-save-button>
			</div>

		</mat-card-footer>
	</form>
</mat-card>
