<header>
	<!-- Skip to Content Tab -->
	<nav id="skipToMainContent" aria-label="Skip to main content">
		<h2 tabindex="0" hidden>Skip links and keyboard navigation</h2>
		<div class="flex-container">
			<ul id="access-header">
				<li>
					<button mat-button type="button" aria-label="Skip to main content" (click)="skip()">Skip to main
						content</button>
				</li>
			</ul>
		</div>
	</nav>
	<mat-toolbar color="primary" role="navigation" class="flex-justify-space-between">
		<div>
			<div class="logo">
				<a href="https://angular.io/" title="Angular">
					<img height="32" src="../../../assets/logo-nav@2x.png" alt="Angular">
				</a>
				<mat-icon>add</mat-icon>
				<a href="https://material.angular.io/" title="Angular Material">
					<img height="32" width="32" src="../../../assets/angular-material-logo.svg" alt="Angular Material">
				</a>
				<mat-icon>add</mat-icon>
				<a href="https://www.w3.org/WAI/WCAG2AA-Conformance" title="Explanation of WCAG 2 Level AA conformance">
					<img height="32" width="88" src="https://www.w3.org/WAI/WCAG21/wcag2.1AA-v" alt="Level AA conformance,
						 W3C WAI Web Content Accessibility Guidelines 2.1">
				</a>
			</div>
		</div>
		<div>
			<button mat-icon-button [matMenuTriggerFor]="menu" mdTooltip="Change theme"><mat-icon>format_color_fill</mat-icon></button>
			<mat-menu #menu="matMenu">
			  <button mat-menu-item >Light</button>
			  <button mat-menu-item >Dark</button>
			</mat-menu>
		</div>
		<button mat-flat-button type="button" (click)="toggleTheme()" aria-label="Toggle between light and dark themes">
			<mat-icon [ngClass]="isDarkTheme ? 'dark-mode' : 'light-mode'"
					  [matTooltip]="'Switch to ' + (isDarkTheme ? 'light' : 'dark') + ' mode'">
				{{isDarkTheme ? 'brightness_3' : 'wb_sunny' }} </mat-icon>
			<span>Switch Theme</span>
		</button>
	</mat-toolbar>
</header>
