@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

mat-icon {
	height: unset;
	color: var(--dialog-base-text);
	width: 1em;

	&.dark-mode {
		transform: rotate(36deg);
		cursor: pointer;
	}

	&.light-mode {
		cursor: pointer;
	}
}

.menu-icon {
	color: var(--dialog-header-text);
}

.container {
	.header {
		background-color: var(--dialog-header-grey);

		@include flex-box;
		@include justify-content(space-between);
		@include align-items(center);

		div:first-child {
			@include flex-box;
			@include flex-direction(row);
			@include align-items(center);

			.logo {
				margin-right: 2rem;

				img {
					width: 170px;
					height: 70px;
				}
			}

			nav {
				button {
					font-size: $heading-level-2;

					.mat-icon {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}
}

#skipToMainContent {
	background: #000;
	display: block;
	color: #fff;

	ul#access-header {
		position: absolute;
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 3;
		left: 0;
		top: 0;

		li {
			position: relative;
			width: 100%;
			list-style: none;

			.mat-button {
				position: absolute;
				top: 0;
				left: -99998px;
				width: 100%;
				display: block;
				margin: 1px 0;
				padding: 0.5em 1em;
				background: var(--dialog-mid-grey);
				color: var(--dialog-base-text);

				&:focus {
					position: relative;
					left: 0;
					background: var(--dialog-base);
				}
			}
		}
	}
}
