<section>
	<h2>Alert area</h2>
	<p>The basic angular material snackbar although meeting WCAG guideline doesn't provide sufficient flexibility in terms of multiple
		alerts/toasts. PrimeUI's toast design in my opinion allows for multiple alerts as well as significant flexibility of design. The
		custom components here have been heavily modified.
	</p>
	<button mat-flat-button type="button" color="primary" (click)="showMessage()" title="Show alert success message" class="mr-2">Show
		Success message</button>
	<button mat-flat-button type="button" color="accent" (click)="clearMessages()" title="Show alert success message">Clear Alerts</button>
</section>

<section>
	<h2>Header Bar</h2>
	<p><strong>Skip to main content</strong> - A needed addition to the page to allow for keyboard users to skip any page navigation
		elements and get
		immediate focus on the pages title / contents. Page help is included here as the second item. </p>
	<p><strong>Menu</strong> - out of box material adds aria-controls and keyboard interaction to the matMenu item. Little additional
		configuration is
		needed, beyond giving a specific title to the menu button and the addition of aria-current to the menu-item with the
		routerLinkActive</p>
	<p><strong>Tab navigation</strong> - Angular material theming allows the declaration of a strong focus indicator along with a
		contrasting color choice.
		However it does not automatically apply the needed mat-focus-indicator to links and the color is
		inconsistent with form-fields. A simple directive covers the additional class to links. Mat-form-field has its own focus class for
		outline that receives the warning color in error state - and a css over-ride</p>
	<p><strong>Switch Theme</strong> - Theme detection pulls from the browsers preference, saving the user's last choice to local storage to
		remain consistent through
		refreshes. Color Schemes for both light and dark theme meet the minimum of 4.5:1 contrast ratio. Note that the title of the button
		changes to indicate what the button will do on the next (click).</p>
</section>

<section>
	<h2>Main</h2>
	<p><strong>Page Title</strong> - The pages primary title or h1 resolves data from the app-routes on navigation end. A service then
		leverages the behaviorSubject to change the actual page title and live-announcer to speak the page title. This component can be
		improved on by adding a breadcrumb navigation feature below the title, more relevant in multi-layered SPA's.</p>
	<p><strong>Layout</strong> - There have been significantly better writers who cover the standard layout pattern using html5 tag
		elements. However, I have taken time to
		encourage developers in the past to use html elements semantically, although we can put a (click) in a div and it behaves like a
		button it is in fact not a button. Not only does this help screen-readers but it also assists the next developer to read your code!
	</p>
</section>

<section>
	<h2>Forms</h2>
	<p><strong>Outline</strong> - </p>
	<p><strong>Errors</strong> - </p>
	<p><strong>Auto complete of the form</strong> - </p>
	<p><strong>Mat-select</strong> - </p>
	<p><strong>Submit button</strong> - Historically when a form is not valid (errors or untouched) the pattern would be to use disabled on
		the submit button however there have been numerous articles written that rightly propose this is an anti-pattern in terms of
		accessibility. Notably there are very few shades of grey that actually meet the contrast requirements. This is before we talk about
		the schematics of a button that has no action - and is therefore not a button, but is still selectable. </p>
</section>

<section>
	<h2>Table</h2>
	<p><strong>Data loading</strong> - when loading the tables page an artificial delay has been added to demonstrate the page-loader
		component. All of the component messages are live-announced to give the user utilising narrator an indication of what is happening
		on
		the page.</p>
	<p><strong>Keyboard Navigation</strong> - keyboard navigation in effect</p>
	<p><strong>Table Paginator</strong> - This is a complicated one related in part to mat-select</p>
</section>
