<section>
	<h2>Alert area</h2>
	<p>The basic angular material snackbar although meeting WCAG guideline doesn't provide sufficient flexibility in terms of multiple
		alerts/toasts. PrimeUI's toast design in my opinion allows for multiple alerts as well as significant flexibility of design. The
		custom components here have been heavily modified.
	</p>
	<button mat-flat-button type="button" color="primary" (click)="showMessage()" title="Show alert success message" class="mr-2">Show
		Success message</button>
	<button mat-flat-button type="button" color="accent" (click)="clearMessages()" title="Show alert success message">Clear Alerts</button>
</section>

<section>
	<h2>Header Bar</h2>
	<p><strong>Skip to main content</strong> - A needed addition to the page to allow for keyboard users to skip any page navigation
		elements and get
		immediate focus on the pages title / contents. Page help is included here as the second item. </p>
	<p><strong>Menu</strong> - out of box material adds aria-controls and keyboard interaction to the matMenu item. Little additional
		configuration is
		needed, beyond giving a specific title to the menu button and the addition of aria-current to the menu-item with the
		routerLinkActive</p>
	<p><strong>Tab navigation</strong> - Angular material theming allows the declaration of a strong focus indicator along with a
		contrasting color choice.
		However it does not automatically apply the needed mat-focus-indicator to links and the color is
		inconsistent with form-fields. A simple directive covers the additional class to links. Mat-form-field has its own focus class for
		outline that receives the warning color in error state - and a css over-ride</p>
	<p><strong>Switch Theme</strong> - Theme detection pulls from the browsers preference, saving the user's last choice to local storage to
		remain consistent through
		refreshes. Color Schemes for both light and dark theme meet the minimum of 4.5:1 contrast ratio. Note that the title of the button
		changes to indicate what the button will do on the next (click).</p>
</section>

<section>
	<h2>Main</h2>
	<p><strong>Page Title</strong> - The pages primary title or h1 resolves data from the app-routes on navigation end. A service then
		leverages the behaviorSubject to change the actual page title and live-announcer to speak the page title. This component can be
		improved on by adding a breadcrumb navigation feature below the title, more relevant in multi-layered SPA's.</p>
	<p><strong>Layout</strong> - There have been significantly better writers who cover the standard layout pattern using html5 tag
		elements. However, I have taken time to
		encourage developers in the past to use html elements semantically, although we can put a (click) in a div and it behaves like a
		button it is in fact not a button. Not only does this help screen-readers but it also assists the next developer to read your code!
	</p>
	<p><strong>CDK Overlay</strong> - when I initially wrote this article the overlay zone displayed error in Axe because it was outside of
		the any aria region and had no tag of it owns. Material used the overlay for any select dialog's, dialogs and menu items, the fact
		that it had no role tag was not an actual problem to the screen readers as it was cdk-hidden area. I have noted there has been a
		recent change in the axe detection so that a lack of role on the overlay does not present an issue at all now. The fix to add a role
		to the region has remained in app.component.ts</p>
</section>

<section>
	<h2>Forms</h2>
	<p><strong>Outline</strong> - The outline style has been chosen for visibility, large focus area and strong highlight on focus and
		hover.</p>
	<p><strong>Errors</strong> - Angular as a whole does validation well, displaying live (after touch/blur) that there is an error in the
		form elements validation, but also which validation rule can have a customised message. This demo is using a centralised pipe for
		error descriptions. Also note that on submit the field names with errors are displayed in the toast to give user indication of what
		else is required. Would be nice - addition of amount of time user has to fill out the form and rehydration on refresh - to meet
		WCAG3.0 draft.</p>
	<p><strong>Auto complete of the form</strong> - This is a suggestion in the latest draft for WCAG3.0 that auto complete is on. In fact,
		Chrome has for a long time made it difficult to turn off, and it depends strongly on the context. The demonstration here is a
		contact form, so autocomplete is very desirable, but for instance a patient details for autocomplete is not sensible due to the
		volume of expected varied answers. Where practical.</p>
	<p><strong>Mat-select</strong> - Previously the role of combobox on the mat-select element itself would fail because it had none of the
		required children. Mat-select is essentially a button that has a modal dialog that appears within the cdk-overlay</p>
	<p><strong>Submit button</strong> - Historically when a form is not valid (errors or untouched) the pattern would be to use disabled on
		the submit button however there have been numerous articles written that rightly propose this is an anti-pattern in terms of
		accessibility. Notably there are very few shades of grey that actually meet the contrast requirements. This is before we talk about
		the schematics of a button that has no action - and is therefore not a button, but is still selectable. </p>
	<button mat-flat-button routerLink="/forms" color="primary" title="View forms in action">View Forms demo</button>
</section>

<section>
	<h2>Table</h2>
	<p><strong>Table</strong> - it has been found previously that '&#60;mat-table' has caused issues with screen-readers and use of (t)
		keyboard navigation as the table is not read by the screen-reader as a table. Therefore it is suggested (from experience) to use the
		native '&#60;table mat-table ' with the mat-table directive. As per the WCAG guide a caption has been added to the table
		to provide context. Would be better if - addition of zebra stripes in the css.</p>
	<p><strong>Data loading</strong> - when loading the tables page an artificial delay has been added to demonstrate the page-loader
		component. All of the component messages are live-announced to give the user utilising screen-readers an indication of what is
		happening on the page.</p>
	<p><strong>Keyboard Navigation</strong> - keyboard navigation for selectable elements only - note this does not include each row or even
		the table as a whole. The row should also not have the (click) attribute for the exact same semantic reason above. Therefore the
		sort headers are tab navigable along with the more_vert buttons. In a full app this may have a series of actions attached - such as
		view, edit, delete and print. </p>
	<p><strong>Table Paginator</strong> - This is a complicated one related in part to mat-select. The page size uses mat-select with the
		existing issue around aria-controls tag coming up as a false positive in axe tools. Previously I re-wrote the paginator with an
		updated mat-select, but for simplicity in this demo I have turned off the ability to specify page-size.</p>
	<button mat-flat-button routerLink="/tables" color="primary" title="View table in action">View Table and data loading demo</button>
</section>
