<!-- <div class="app"> -->
	<div role="alert">
		<app-toast></app-toast>
	</div>
	<!-- <div class="container"> -->
	<app-header></app-header>
	<main role="main" class="pl-6 pr-6 pb-6 main-body" [attr.aria-label]="'Main content column for ' + siteName">

		<app-page-title></app-page-title>
		<router-outlet></router-outlet>
	</main>
	<footer>
		<app-footer></app-footer>
	</footer>
	<!-- </div> -->

	<ng-template #loadingSpinner>
		<app-loading-indicator></app-loading-indicator>
	</ng-template>
<!-- </div> -->
