// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@import '~@angular/material/theming';
@import './app/styles/variables.scss';

$fontConfig: (
  display-4: mat-typography-level($heading-level-1, $heading-level-1-line, 300, 'Roboto', -0.0134em),
  display-3: mat-typography-level($heading-level-2, $heading-level-2-line, 400, 'Roboto', -0.0089em),
  display-2: mat-typography-level(45px, 48px, 400, 'Roboto', 0.0000em),
  display-1: mat-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat-typography-level(28px, 36px, 400, 'Roboto', 0.0000em),
  title: mat-typography-level($heading-level-1, $heading-level-1-line, $font-weight-bold, 'Roboto', 0.0075em),
  subheading-2: mat-typography-level($heading-level-4, $heading-level-4-line, 400, 'Roboto', -0.0094em),
  subheading-1: mat-typography-level($heading-level-3, $heading-level-3-line, 500, 'Roboto', 0.0067em),
  body-2: mat-typography-level($small-text-size, $body-text-size-line, 400, 'Roboto', 0.0179em),
  body-1: mat-typography-level($body-text-size, $body-text-size-line, 300, 'Roboto', 0.0179em),
  button: mat-typography-level($heading-level-4, $heading-level-4-line, $font-weight-bold, 'Roboto', 0.0893em),
  caption: mat-typography-level($heading-level-4, $heading-level-4-line, 400, 'Roboto', 0.0333em),
  input: mat-typography-level($body-text-size, 1.125, 400, 'Roboto', 1.5px)
);

@include mat-core($fontConfig);

// https://material.angular.io/guide/theming#strong-focus-indicators
@include mat-strong-focus-indicators(
	(
		border-style: solid,
		border-width: 2px,
		border-radius: 2px
	)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Colour checker accessibility tools: https://material.io/resources/color.



.light-theme {
	@include all-component-themes($light-theme);
	@include mat-strong-focus-indicators-theme(orange);
}



.dark-theme {
	@include all-component-themes($dark-theme);
	@include mat-strong-focus-indicators-theme(orange);
}

// Import own styles and over-rides.
@import './app/styles/mixins.scss';

@import './app/styles/common.scss';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
main {
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}

// additional classes for mat-strong-focus-indicators for links,
// used in conjunction with ALinkDirective to apply class to all links.
a.mat-focus-indicator::before {
	margin: -4px;
}
a.mat-focus-indicator:focus-visible {
	outline: none;
}
mat-form-field.mat-focused {
	.mat-form-field-outline {
		color: orange !important;
	}
}


.dark-theme .mat-menu-item.active {
	$alt-text: map-get($light-theme, foreground);
	background-color: mat-color($dark-accent);
	color: mat-color($alt-text, text);
	&:hover {
		background-color: mat-color($dark-accent, lighter);
	}
}
.light-theme .mat-menu-item.active {
	$alt-text: map-get($dark-theme, foreground);
	background-color: mat-color($light-accent);
	color: mat-color($alt-text, text);
	&:hover {
		background-color: mat-color($light-accent, lighter);
	}
}
